:local(.Container) {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    direction: rtl;
    margin-right: 10px;
}
:local(.BlankDay) {
    height: 38px;
    width: 38px;
    margin: 1px;
}
