:local(.SimetricX) {
    color: #AFAFB0;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 12px;
}

:local(.SimetricX) {
    color: #AFAFB0;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 12px;
}