:local(.Day) {
    font-family:"Open Sans";
    font-size: 12px;
    font-weight: 700;
    background-color: #D8EAEA;
    height: 38px;
    width: 38px;
    margin: 1px;
    user-select: none;
    border-radius: 50%;
}
:local(.DayOn:hover) {
    background-color: #25877D;
    color: #fff;
    
}
:local(.DayOn) {
    color: #2C95A2;
    cursor: pointer;
    
}

:local(.CharterDay) {
    background-color: #FFE9F1;
}
:local(.DaySpan) {
    position: relative;
    top: 20%;
}

:local(.DayNumOff) {
    text-align: center;
    color: #D7D6D6;
    
}
:local(.BlankDay) {
    height: 38px;
    width: 38px;
    margin: 10px;
}
