:local(.Day) {
    font-family: Almoni 19px bold;
    background-color: #D8EAEA;
    height: 38px;
    width: 38px;
    margin: 1px;
    border-radius: 50%;
    font-weight: 700;
}
:local(.CharterDay) {
    background-color: #FFE9F1;
}
:local(.DayNumOn) {
    text-align: center;
    color: #2C95A2;
    cursor: pointer;
}
:local(.DayNumOff) {
    text-align: center;
    color: #D7D6D6;
}